<h2><%= @link.originalurl %></h2>
<h2><%= @link.shorturl %></h2>
<h3><%= @link.created_at.strftime("Created on %m/%d/%y at %I:%M%p") %></h3>

<form action="/links/back" method="post">
  <button type="submit">Back</button>
</form>
<% unless @link.comments.empty? %>
<% @link.comments.each do |comment| %>
  <h5><%= comment.author %></h5>
  <p><%= comment.body %></p>
   <form action="/links/<%= comment.id %>/discuss/delete_comment" method="post">
    <input type="submit" name="delete" value="Delete" />
  </form>
<% end %>
<% end %>

<form action="/links/<%= @link.id %>/discuss/comment" method="post">
  <div>New Comment: <textarea name="body" cols="60" rows="10"></textarea></div>
  <div>Author: <input type="text" name="author" /></div>
  <button type="submit">Submit Comment</button>
</form>

