<div class="post-container">
	<%a = (0...3).map { (65 + rand(26)).chr }.join%>
	Long Link: <a href="http://<%= @link.long_url %>">
		http://<%=@link.long_url%>.com</a>
	</br>
	Short Link: 
	<a href="http://<%= @link.long_url %>">
		www.<%=a%>.com</a>
	</br>
</div>


<% @link.discussions.each do |discussion|%>
	Author: <%= discussion.author%> 
	</br><%= discussion.body%>
	</br></br>
	<% end %> 

<form action="/links/comment/<%=@link.id%>" method="post">
	<div>Author: <input type="string" name="author" /></div>
	<div>Body: <textarea name="body" cols="60" rows="10"></textarea></div>
	<button type="submit">Create Comment</button>
</form>