<% @links.each do |link| %>
	<ul class="link-index">
		<li><a href ="<%= link.url %>"><%= link.url %></a></li>
		<li><a href="<%= link.short_url %>"><%= link.short_url %></a></li>
		<li>
			<form action="/shortlinks/<%= link.id %>" method="get">
				<button type="submit">Discuss</button>
			</form>
		</li>
	</ul>
<% end %>

<form action="/shortlinks/shorten" method="post">
  <div>Link: <input type="string" name="long_url" /></div>
  <button type="submit">Shorten Link</button>
</form>

