<div class="post-container">
	<%a = (0...3).map { (65 + rand(26)).chr }.join%>
	Long Link: <a href="http://<%= @link.long_url %>">
		www.<%=a%>.com</a>
	</br>
	Short Link: 
	<a href="http://<%= @link.long_url %>">
		www.<%=a%>.com</a>
	</br>
</div>

<!-- 	<% @post.discussions.each do |comment|%>
	Author: <%= comment.author%> 
	</br><%= comment.body%>
	</br></br>
	<% end %> -->