
<!--@urls is coming in as Url.all-->
<% @urls.each do |url| %> 
<!-- this will need to be changed later, but is a placeholdervaule for the new url -->

 <h2>
  <a href="/<%= url.id %>"><%= url.long_url %></a>
 </h2>
 
 <!--display Url.long_url -->

  <h2>
    <a href="/<%= url.id %>"><%= url.new_url %></a>
  </h2> 

  <!--display Url.new_url -->
  
  <a href="/<%=url.id%>">Discuss this URL!</a> 

  <!-link for discussion -->

<% end %>

<!--this will get the long_form url -->
<form action ="/create" method="post">
<label for="long_url">Enter a Url:</label>
<input type="text" name="long_url" class="fieldset" />
<button type="submit" class="button" value="">Create a Short Url!</button>
</form>


